<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="d3sw" value="https://nuget.pkg.github.com/d3sw/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <d3sw>
            <add key="Username" value="d3sw" />
            <add key="ClearTextPassword" value="%GPR_TOKEN%" />
        </d3sw>
    </packageSourceCredentials>
</configuration>
